* {
  margin: 0;
  padding: 0;
  user-select: none;
}

@font-face {
  font-family: 'myFirstFont';
  src: url('/public/font/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'LogoFont';
  src: url('/public/font/AquireBold-8Ma60.otf') format('truetype');
}

@font-face {
  font-family: 'kalamehRegular';
  src: url('/public/font/KalamehWeb_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'kalamehBold';
  src: url('/public/font/KalamehWeb_Bold.ttf') format('truetype');
}